
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <style type="text/css">
        table {
            border: 5px;
            width: 500px;
        }
        th, td {
            padding: 7px;
            border: 1px solid black
        }
        caption {
            font-size: 2em;
        }
    </style>
</head>
<body>
<table>
    <caption>ЖАНРЫ</caption>
    <tr>
        <th>Название</th>
        <td>{{ object.name }}</td>
    </tr>
</table>
</body>
</html>