<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seria</title>
    <style type="text/css">
        table {
            border: 5px;
            width: 500px;
        }
        th, td {
            padding: 7px;
            border: 1px solid black
        }
        caption {
            font-size: 2em;
        }
    </style>
</head>
<body>
<table>
    <caption>СЕРИИ</caption>
    <tr>
        <th>Название</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Описание</th>
        <td>{{ object.description }}</td>
    </tr>
</table>
<button><a href="{% url 'seria-update-view' object.pk %}">Update</a></button>
</body>
</html>